<!DOCTYPE html>
#html()
#head()
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="apple-mobile-web-app-capable" content="yes" />
#block("header-content")
#end
<title> 目录 </title>
<style>
    body{
        font-size: 30px;
    }
    li{
        padding: 10px 0;
    }
</style>
#block("header-script")
#end
#end ##end head

#body()
<ol>
    <li><a href="/<%= props.name %>/<%= props.subName %>/index"><%= props.subName %></a></li>
</ol>
#end ##end body

#require("./contents.vm")
#end ##end html
